<div class="my-4">
<% if @position.errors.any? %>
  <% @position.errors.full_messages.each do |message| %>
  <ul>
    <li class="text-danger"><%= message %></li>
  </ul>
  <% end %>
<% end %>
</div>

<%= form_for @position do |f| %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Description" %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :salary %><br>
    <%= f.number_field :salary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :full_time %>
    <%= f.check_box :full_time %>
  </div>

  <p>Choose Company or Create:</p>
  <p>Select a Company</p>
    <%= f.hidden_field :position_id, value: @position.id %>
    <%= f.collection_select :company_id, Company.all, :id, :name, {prompt: "Select"} %>

<br>
<br>
<!-- this btn is not yet assigned to js -->
  <a href="#" id="js-create-company-btn">Or Create a new Company</a>
  <div id="js-new-company">
  <!-- <div id="js-new-company" style="display:none;"> -->
    <%= f.fields_for :company, @position.build_company do |company_f| %>
    <div>
      <%= company_f.label :name %>
      <%= company_f.text_field :name %>
    </div>
    <div>
      <%= company_f.label :url %>
      <%= company_f.text_field :url %>
    </div>
    <div>
      <%= company_f.label :description %>
      <%= company_f.text_field :description %>
    </div>
    <% end %>
  </div>

  <%= f.submit class: "btn btn-info mt-5" %>
<% end %>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
