<h1 class="my-5"><%= display_title(@company.name) %></h1>

<table class="table table-borderless sm-font">
  <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Salary</th>
      <th scope="col">Full Time</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
      <td><%= link_to display_title(position.title), company_position_path(position.company, position) %></td>
      <td><%= position.description %></td>
      <td><%= number_to_currency(position.salary) %></td>
      <td><%= display_check(position.full_time) %></td>
      <td><%= display_time(position.created_at) %></td>
      <td><%= display_time(position.updated_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-5">
  <%= link_to "Add position to #{display_title(@company.name)}", new_company_position_path(@company)  %><br>

  <%= link_to "Create a new list", new_company_path %><br>

  <% if !@company.positions.empty? %>
    <%= link_to "Go to your checklist", user_checklists_path(current_user) %>
  <% end %>
</div>
