<h2 class="mt-5"><%= display_title(@position.title) %></h2>
<p><%= link_to display_title(@position.company.name), company_positions_path(@position.company) %></p>

<div class="mt-5">
  <h4>Job Desciption</h4>
  <p><%= @position.description %></>

  <h4>Salary</h4>
  <p><%= display_salary(@position.salary) %></p>
  <h4>Job Type</h4>
  <p><%= display_job_type(@position.full_time) %></p>

  <h4>Position created at</h4>
  <p><%= display_time(@position.created_at) %></p>

  <h4>Position updated at</h4>
  <p><%= display_time(@position.updated_at) %></p>

</div>

<div class="mt-5">
  <%= link_to "Go to your checklist", user_checklists_path(current_user), class: "btn btn-info" %>
  <% if current_user.admin? %>
  Need to fix edit link
    <%#= link_to "Edit this position? ", edit_company_position_path(@position.company, @position), class: "btn btn-warning" %>
  <% end %>
</div>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
