<h2 class="mt-5"><%= display_title(@position.title) %></h2>
<p><%= link_to @position.company.name, company_positions_path(@position.company) %></p>

<div class="mt-5">
  <h4>Job Desciption</h4>
  <p><%= @position.description %></>

  <h4>Salary</h4>
  <p><%= display_salary(@position.salary) %></p>
  <h4>Job Type</h4>
  <p><%= display_job_type(@position.full_time) %></p>

  <h4>Position created at</h4>
  <p><%= display_time(@position.created_at) %></p>

  <h4>Position updated at</h4>
  <p><%= display_time(@position.updated_at) %></p>

</div>

<div class="mt-5">
  <%= button_to user_checklists_path(current_user.id), class: "btn btn-success mb-3", data: {confirm: "You want to add this position to your list?"} do %>
    Add to my checklist
    <input type="hidden" name="checklist[company_id]" value="<%= @position.company_id %>">
    <input type="hidden" name="checklist[position_id]" value="<%= @position.id %>">
  <% end  %>

  <% if current_user.admin? %>
    <%= link_to "Edit this position", edit_company_position_path(@position.company, @position), class: "btn btn-outline-warning" %>
  <% end %>
</div>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
