<h1 class="mt-5"><%= display_title(@position.title) %></h1>
<h3>at <%= display_title(@position.company.name) %></h3>

<div class="mt-5">
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row">Job Desciption</th>
        <td><%= @position.description %></td>
    </tr>

    <tr>
      <th scope="row">Salary</th>
      <td><%= number_to_currency(@position.salary) %> a year</td>
    </tr>

    <tr>
      <th scope="row">Full time position</th>
      <td><%= display_check(@position.full_time) %></td>
    </tr>

    <tr>
      <th scope="row">Created at</th>
      <td><%= display_time(@position.created_at) %></td>
    </tr>

    <tr>
      <th scope="row">Updated at</th>
      <td><%= display_time(@position.updated_at) %></td>
    </tr>
  </tbody>
</table>
</div>

<div class="mt-5">
  <%= link_to "Go to your checklist", user_checklists_path(current_user), class: "btn btn-info" %>
  <% if current_user.admin? %>
    <%= link_to "Edit this position? ", edit_company_position_path(@position.company, @position), class: "btn btn-warning" %>
    <%= link_to "Delete this position", company_position_path(@position.company, @position), method: :delete, class: "btn btn-danger",data: {confirm: "Are you sure? You want to delete the position?"} %>
  <% end %>
</div>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
