<h2 class="mt-5"><%= display_title(@position.title) %>
  <span class="text-sm">at <%= display_title(@position.company.name) %></span>
</h2>

<div class="mt-5">
  <h4>Job Desciption</h4>
  <p><%= @position.description %></>

  <h4>Salary</h4>
  <p><%= number_to_currency(@position.salary) %> a year</p>

  <h4>Full time position</h4>
  <p><%= display_check(@position.full_time) %></p>

  <h4>Created at</h4>
  <p><%= display_time(@position.created_at) %></p>

  <h4>Updated at</h4>
  <p><%= display_time(@position.updated_at) %></p>

</div>

<div class="mt-5">
  <%= link_to "Go to your checklist", user_checklists_path(current_user), class: "btn btn-info" %>
  <% if current_user.admin? %>
    <%= link_to "Edit this position? ", edit_company_position_path(@position.company, @position), class: "btn btn-warning" %>
  <% end %>
</div>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
