<h1>Position show page</h1>
<h2>Title: <%= @position.title %></h2>
<h2>at <%= @position.company.name %></h2>
<p><%= @position.description %></p>
<p><%= @position.salary %></p>
<!-- need method convert true/false to yes/no -->
<p><%= @position.full_time %></p>


<%= link_to "Edit position", edit_company_position_path(@position.company, @position) %><br>
<%= link_to "Go to your checklist", user_checklists_path(current_user) %>
