<h1 class="my-5">Create your account</h1>
<p class="text-danger"><%= flash[:message] %></p>

<% if @user.errors.any? %>
  <div class="error_explanation">
    <% @user.errors.full_messages.each do |message| %>
        <p class="text-danger"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <h5 class="mt-5">Are you sign up as an admin?</h5>
  <div class="form-group">
    <%= f.label "Click here if you are an admin.", class: "form-check-label" %>
    <%= f.check_box :admin %>
  </div>

  <div class="form-group">
    <%= f.label "Pleae type admin code to varify" %>
    <%= f.password_field :admin_code %>
  </div>

  <%= f.submit "Sign Up", class: "btn btn-info mt-4" %>


<% end %>
