<!-- If a logged in user typed login path directly to the url, it shows error msg -->
<p class="text-danger mt-5"><%= flash[:message] %></p>

<% if !@user.checklists.empty? %>
<div class="my-5">
  <h2 class="mb-4"><%= display_title(@user.username) %>'s Profile</h2>
  <p>Email: <%= @user.email %><%= " / Status: Admin" if admin?(@user) %></p>

  <p>You have &#9733; <%= @user.checklists.size %> positions in you checklist.</p>

  <div class="mt-5">
    <%= link_to "Go to my checklist", user_checklists_path(@user), class: "btn btn-info" %>
  </div>
</div>

<% else %>
<div class="mt-5">
  <h2 class="mb-4">Hello, <%= display_title(@user.username) %>!</h2>
  <p>Email: <%= @user.email %> <%= " / Status: Admin" if admin?(@user) %></p>
</div>

<div class="mt-5">
  <h3>How to use Job Search Organizer?</h3>
</div>
<div class="mt-4">
  <h5>First step: </h5>
  <p>Create your own checklist. Add a company and positon you are intersted in.</p>
</div>

<div class="mt-4">
  <h5>Second step:</h5>
  <p>Update your checklist. You can add progress (resume, interview, completed and note).</p>
</div>

<div class="mt-5">
  <%= link_to "Check companies who are hiring now", companies_path, class: "btn btn-outline-info" %>
  <%= link_to "Or check open positions", positions_path, class: "btn btn-outline-info" %>
</div>
<% end %>
