<!-- Company form -->
<%= form_for @company do |f| %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

<h2>Positon details:</h2>
    <%= f.fields_for :positions do |p| %>
    <div class="form-group">
      <%= p.label :title %><br>
      <%= p.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :description %><br>
      <%= p.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :salary %><br>
      <%= p.text_field :salary, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :full_time %><br>
      <%= p.check_box :full_time %>
    </div>
    <% end %>

  <%= f.submit %>
<% end %>
