<!-- Company form -->
<%= form_for @company do |f| %>

  <div class="form-group">
    <%= f.label "Company Name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

<h5>Positon details:</h5>
    <%= f.fields_for :positions do |p| %>
    <div class="form-group">
      <%= p.label :title %><br>
      <%= p.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :description %><br>
      <%= p.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= p.label :salary %><br>
      <%= p.text_field :salary, class: "form-control" %>
    </div>
    <div class="form-group form-check">
      <%= p.check_box :full_time, class: "form-check-input" %>
      <%= p.label :full_time %>
    </div>
    <% end %>

  <%= f.submit "Add in your list", class: "btn btn-info" %>
<% end %>
