<h1 class="my-5">All Comapanies</h1>

<p class="text-danger"><%= flash[:message] %></p>


<% @companies.each do |company| %>
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title"><%= display_title(company.name) %></h5>
      <p class="card-text">Website: <%= link_to company.url, "#{company.url}", target: "_blank" %></p>
      <%= link_to "Check positions", company_positions_path(company), class: "btn btn-info btn-sm" %>

      <% if current_user.admin? %>
        <%= link_to "Edit company", edit_company_path(company), class: "btn btn-warning btn-sm" %>
        <%= link_to "Delete company", company_path(company), method: :delete, class: "btn btn-danger btn-sm",data: {confirm: "Are you sure? You want to delete the company?"} %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="my-5">
  <%= link_to 'Back', url_for(:back) %>
</div>
