<div class="my-5">
  <h1>Create your Checklist</h1>
</div>

<% if @company.errors %>
  <h5>Please fill out the form</h5>
  <ul>
  <% @company.errors.full_messages.each do |message| %>
    <li class="text-danger"><%= message %></li>
  <% end %>
  </ul>
<% end %>

<h2 class="mt-3">Company</h2>
<% if !Company.all.empty? %>
  <%= form_for @company, html: {class: "form-inline"} do |f| %>
    <%= f.collection_select :id, Company.sort_by_name, :id, :name, {prompt: "select a company"}, class: "custom-select my-1 mr-sm-2" %>
    <%= f.submit "Add a position", class: "btn btn-dark my-1" %>
  <% end %>

  <h5 class="mt-5 mb-3">Can't find a company? Fill out the form below:</h5>
  <%= render "form" %>
<% else %>
  <%= render "form" %>
<% end %>
