<div class="my-5">
  <h1>Create your Checklist</h1>
</div>
<% if @company.errors %>
  <h5>Please fill out the form</h5>
  <ul>
  <% @company.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<h2>Company</h2>
<% if !Company.all.empty? %>
  <%= form_for @company do |f| %>
    <%= f.collection_select :id, Company.all, :id, :name, {prompt: "select a company"} %>
    <%= f.submit "add a position"%>
  <% end %>

  <p class="mt-5">Can't find a company? fill a new company name</p>
  <%= render "form" %>
<% else %>
  <%= render "form" %>
<% end %>
