<h1><%= @company.name %></h1>

<p>Location: <%= @company.city %></p>
<p>Contact Person: <%= @company.contact_person %></p>
<p>Email: <%= @company.email %></p>
<p>Phone: <%= @company.phone_number %></p>

<%= link_to "Add position", new_company_position_path(@company)  %><br>

<%= link_to "Edit company", edit_company_path(@company) %><br>

<% if !@company.positions.empty? %>
  <%= link_to "Go to your checklist", user_checklists_path(current_user) %>
<% end %>
