<h1><%= current_user.username %>'s checklist</h1>

<table class="table table-borderless">
  <thead class="thead-light">
    <tr>
      <th scope="col">Company</th>
      <th scope="col">City</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Full time</th>
      <th scope="col">Resume</th>
      <th scope="col">Interview</th>
      <th scope="col">complete</th>
      <th scope="col">note</th>
      <th scope="col">update progress</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @companies.each do |company| %>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.city %></td>

    <% @positions.each do |position| %>
        <td><%= link_to position.title, company_position_path(company, position) %></td>
        <td><%= position.description %></td>
        <td><%= position.full_time %></td>


    <% if !@checklists.nil? %>
      <% @checklists.each do |checklist| %>
        <td><%= checklist.resume %></td>
        <td><%= checklist.interview %></td>
        <td><%= checklist.completed %></td>
        <td><%= checklist.note %></td>
        <td><%= link_to "update", edit_user_checklist_path(@user, checklist) %></td>
    </tr>
      <% end %>
    <% end %>
    <% end %> <!-- end of @position -->
    <% end %> <!-- end of @company -->


  </tbody>

</table>
