<h1 class="mt-5"><%= display_title(current_user.username) %>'s Checklist</h1>

<p class="text-danger my-4"><%= flash[:message] %></p>

<% if @checklists.empty? %>
  <p class="alert alert-warning my-4">Your checklist is empty now. Please create from <%= link_to "here", new_company_path %>.</p>
<% end %>

<table class="table table-borderless sm-font">
  <thead class="thead-light">
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Position</th>
      <th scope="col">Full Time</th>
      <th scope="col">Resume</th>
      <th scope="col">Interview</th>
      <th scope="col">Completed</th>
      <th scope="col">Note</th>
      <th scope="col">Last update</th>
      <th scope="col">Progress</th>
    </tr>
  </thead>

  <tbody>
    <% @checklists.each do |checklist| %>
    <tr>
      <td><%= link_to display_title(checklist.company.name), company_path(checklist.company) %>
      </td>
      <td><%= link_to display_title(checklist.position.title), company_position_path(checklist.company, checklist.position) %></td>
      <td><%= display_check(checklist.position.full_time) %></td>
      <td><%= display_check(checklist.resume) %></td>
      <td><%= display_check(checklist.interview) %></td>
      <td><%= display_check(checklist.completed) %></td>
      <td><%= checklist.note %></td>
      <td><%= display_time(checklist.updated_at) %></td>
      <td><%= link_to "update", edit_user_checklist_path(@user, checklist) %><br>
      <%= link_to "delete", user_checklist_path(@user, checklist), method: :delete, data: {confirm: "Are you sure? You want to remove from your list?"} %>
    <% end %>
    </tr>
  </tbody>
</table>

<div class="mt-5">
  <%= link_to "Create a new list", new_company_path, class: "btn btn-info" %>
  <%= link_to "Check all companies", companies_path, class: "btn btn-info" %>
</div>
